{% extends 'base.html.twig' %}

{% block title %}Mes adresses
{% endblock %}

{% block content %}

	<h1 class="mt-3">Mes Adresses</h1>

	<a href="">ajouter une nouvelle adresse</a>
	<p>Dans cet espace, vous gerez vos adresses</p><br><br>
	<a href="{{path('account')}}">Retour</a><br>
	<hr>
{% endblock %}
